PORT=9090
MONGO_URI=MONGO_CONNECTION_STRING
JWT_SECRET=JWT_TOKEN_SECRET_HERE

# PASSPORT JS
SESSION_SECRET=
CLIENT_AUTH_REDIRECT=

# GOOGLE CONSOLE CREDENTIALS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/api/v1/auth/google/callback

# GITHUB API CREDENTIALS
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=/api/v1/auth/google/callback